.draggable_node{
    cursor: move; 
    border:1.5px dashed #000000;
}

.label {
border: solid 1px #F1F1F1;
background: #fff;
display: inline-block;
height: 22px;
padding: 0 6px;
line-height: 22px;
position: absolute;
top: 7px;
right: 6px;
text-align: center;
font-size: 12px;
color: #777;
border-radius: 20px;
z-index: 30;
}

.alert-franz{
  position: absolute;
  z-index:0;
}

