.draggable_node {
    cursor: move;
    border: 1.5px dashed #000000;
    width: 47px;
    height: 47px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
}
.canvas-label {
    cursor: default;
    padding: 0 6px;
    line-height: 22px;
    position: absolute;
    /* top: 7px; */
    /* right: 6px; */
    
    text-align: center;
    font-size: 12px;
    color: #777;
    /* border-radius: 20px; */
    
    z-index: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.alert-franz {
    /*  position: absolute;
  z-index:0;*/
    
    position: absolute;
    left: 50%;
}
.alert-franz-in {
    /*  position: absolute;
  z-index:0;*/
    
    position: relative;
    left: -50%;
}

.label-sidebar {
    color: rgb(138, 164, 175);
}